{% extends 'header_nav.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/articles_show.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div id="article-container">
        <div id="left-area"></div>
        <div id="med-area">
            {% for obj in objs %}
                <div class="article-info">
                    {% ifequal obj.article_img '' %}
                        <div class="article-cover"><img src="/static/img/img.png" alt="封面图"></div>
                    {% else %}
                        <div class="article-cover"><img src="/media/article-cover-img/{{ obj.article_img }}" alt="封面图">
                        </div>
                    {% endifequal %}
                    <div class="article-detail">
                        <a class="article-title" href="/article/{{ obj.id }}/show/page/">{{ obj.article_title }}</a>
                        <div class="entry-meta entry-meta-tags">
                            <span class="date"><a href="#">{{ obj.article_createdate }}</a></span>
                            <span class="author"><a href="#">{{ obj.user.user_name }}</a></span>
                            <span class="tags" value="{{ obj.id }}">
                            <a href="#">web安全</a>,
                            <a href="#">云安全</a>
                        </span>
                        </div>
                        <p class="article-digest">{{ obj.article_digest }}</p>
                        <div class="entry-meta">
                            <a class="more-link" href="/article/{{ obj.id }}/show/page/">点击阅读</a>
                            <span class="view">{{ obj.article_view }}</span>
                            <span class="like">{{ obj.article_like }}</span>
                            <span class="comment">{{ obj.article_comment }}</span>
                            <span class="collect">{{ obj.article_collect }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination-div">
                <ul class="pagination"></ul>
                <div class="form-jump">
                    <input type="text" name="page" id="page-input">
                    <button id="skip-page">跳转</button>
                </div>
            </div>
        </div>
        <div id="right-area"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/article_show.js' %}"></script>
    <script>
        let page_count ={{ page_count }};
        let page ={{ page }};
        let show_start_page ={{show_start_page  }};
        let show_end_page ={{ show_end_page }};
    </script>
    <script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}