{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/create_article.css' %}">
    <link href='https://css.gg/css' rel='stylesheet'>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script>-->
    <link rel="stylesheet" href="{% static 'plugins/node_modules/vditor/dist/index.css' %}">
    <script src="{% static 'plugins/node_modules/vditor/dist/index.min.js' %}"></script>
    <title>文章编辑</title>
</head>
<body>
{% csrf_token %}
<div class="container">
    <header>
        <div class="header-left">
            <div class="img-div">
                <img src="{% static 'img/文档.png' %}" alt="编辑标题">
            </div>
            <h2>欢迎使用编辑功能</h2>
        </div>
        <div class="header-right">
            <button class="btn-save btn"><i class="gg-pen"></i>保 存</button>
            <button class="btn-publication btn"><i class="gg-file-add"></i>发 表</button>
            <div class="division"></div>
            <button class="btn-icon" title="添加"><i class="gg-math-plus"></i></button>
            <button class="btn-icon" title="提醒"><i class="gg-bell"></i></button>
            <button class="btn-icon" title="更多"><i class="gg-more-alt"></i></button>
            <div class="division"></div>
            <div class="avatar">
                <img src="{% static 'img/img.png' %}" alt="头像">
            </div>
        </div>
    </header>
    <div class="edit">
        <div class="edit-container">
            <div class="article-img" id="article-img">
                <!--<button class="btn-img"><i class="gg-image"></i>添加封面</button>-->
                <input type="file" class="btn-img-file" id="btn-img" name="选择封面" accept="image/*">
                <label for="btn-img" class="button-img" id="lab-addimg"><i class="gg-software-upload"></i>选择封面</label>
                <div class="mod-img-container" id="mod-img-container"></div>
            </div>
            <input type="text" name="title" class="title" placeholder="请输入标题">
            <div id="vditor"></div>
        </div>

    </div>
</div>

<!--添加/编辑模态框-->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="modal-title"><i class="gg-format-justify"></i>发表文章</span>
            <span class="close">&times;</span>
        </div>
        <form class="add-article-form" id="add-article-form" method="post">
            <div class="modal-body">
                {% for field in form %}
                    <div class="body-items">
                        <label>{{ field.label }}:</label>
                        {{ field }}
                        <span style="color: red">{{ field.errors.0 }}</span>
                    </div>
                {% endfor %}
            </div>
        </form>
        <div class="modal-footer">
            <div class="btns">
                <button type="button" class="btn-cansel" id="btnCansel">取 消</button>
                <button type="button" class="btn-sure" id="btnSure">确 定</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'js/create_article.js' %}"></script>

</body>
</html>