{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scal=1.0">
    <title>Redamancy</title>
    <link href='https://css.gg/css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/header_nav.css' %}">
    {% block css %}{% endblock %}
</head>

<body>
<div class="container">
    <div class="header">
        <div class="header-div">
            <div class="title-div">
                <img src="{% static 'img/img.png' %}">
                <h1>Redamancy</h1>
            </div>
            <div class="search-div">
                <button type="button" id="btn-search" class="search">
                    <i class="gg-search"></i>
                </button>
                <input type="text" name="search" class="search">
            </div>
        </div>
        <div class="nav-div" id="nav-div">
            <a href="/home/display/" id="nav-home">首页</a>
            <div class="subnav" id="subnav">
                <button class="subnavbtn">更多</button>
                <div class="subnav-content">
                    <a href="/login/">登录</a>
                    <a href="#">退出</a>
                    <a href="#">设置</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}{% endblock %}
</body>
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'js/header_nav.js' %}"></script>
{% block js %}{% endblock %}
</html>