*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*头部导航*/
header{
    width: 100%;
    height: 75px;
    padding: 0 10px;
    position: fixed;
    background-color: white;
    z-index: 8;
    border-bottom: 2px solid silver;
    box-shadow: 0 0px 5px silver;
    display: flex;
}
/*头部做部分*/
header .header-left{
    flex: 2;
}
/*头部右部分*/
header .header-right{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: right;
}
/*文章编辑区域*/
.edit{
    flex: 1;
}
.edit-container{
    height: 100%;
    margin-top: 90px;
    padding: 0 250px;
    position: relative;
}
/*文章封面图片的显示*/
.edit-container .btn-img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: steelblue;
    cursor: pointer;
    background-color: silver;
    padding: 5px 8px;
    border-radius: 6px;
    border: none;
    opacity: 0;

}
.edit-container .btn-img i{
    margin-right: 8px;
}
/*标题的输入*/
.edit-container input.title{
    height: 45px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
.edit-container input:focus{
    outline: none;
}
